
*{
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
}

nav{
    height: 20vh;
    background-color: blueviolet;
    position: sticky;
    top: 0px;
}

a{
    font-size: 35px;
    color: azure;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

section{
    background-color: chartreuse;
    height: 100vh;
    width: 100vw;
}

footer{
    background-color: coral;
    height: 20vh;
}